.CS1-main-container{
    margin-top: 68px;
    height: inherit;
    display: grid;
    row-gap: 20px;
    column-gap: 25px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr ;
    background-color: rgb(255, 255, 255);
}


.HeaderCS1{
    padding-top: 60px;
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 5%;
    height: 150px;
}

.ConstructMonitor{
   font-size: 45px;
}

.ConstructMonitor-Details{
    font-size: 14px;
    text-align: left;
    line-height: 1.4;
}
